<hr>
<div  style="text-align: center">
<body>
<div  style="text-align: center">
<div  style="text-align: center">
<% if flash[:error] %>
      <div style="color: red"><%= flash[:error] %></div>
    <% end %>
</div>
</div>
  <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Eo_circle_blue_white_letter-z.svg/1024px-Eo_circle_blue_white_letter-z.svg.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
  <%= form_for :session, url: login_path do |f| %>
    <p><%= f.text_field :user_name, placeholder: "Username" %></p>
  
    <p><%= f.password_field :password, placeholder: "Password" %></p>

    <%= f.submit :login, class: "btn btn-lg btn-primary" %>
  <% end %>
  <p class="mt-5 mb-3 text-muted">© 2020-2020</p>
</body>
</div>