<body>
<div  style="text-align: center">
<% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>
</div>

<%= form_for :session, url: login_path do |f| %>
  <!-- <img class="mb-4" src="" alt="" width="72" height="72"> -->
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <%= f.text_field :user_name, id: "inputUsername" class: "form-control" placeholder: "Username"%>
  
  <label for="inputPassword" class="sr-only">Password</label>
  <%= f.password_field, :password id: "inputPassword" class: "form-control" placeholder: "Password"%><br>
  
  <%= f.submit :login, class: "btn btn-lg btn-primary btn-block"%>

   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
<%= end %>

