<html>
<body>
<hr>
<section class="jumbotron text-center">
    <div class="container">
      <h1>Your New Home Awaits!</h1>
      <p class="lead text-muted">Find your perfect home from one of our unordered, random ass, too expensive, stock photo, seed data hella hard to make, non-searchable, random priced, probably not real addresses because we used Faker listings below!</p>
      <p class="lead text-muted">Ready to put your house on the market? List your home today!.</p>
        <%= link_to "List Your Home!", new_house_path, class: "btn btn-lg btn-primary" %>
      </p>
    </div>
  </section>

<div class="container-fluid padding">
    <div class="row padding">
        <% @houses.each do |house|%>
        <div class="col-md-3" >
            <div class="card">
                <% if house.picture.blank?%>
                    <%= link_to image_tag("no_image_found_house.png", class: 'card-img-top', size: "375x250"), house_path(house)%>
                <% else%>
                    <%= link_to image_tag(house.picture, :size=> '250x350', class: 'card-img-top'), house_path(house) %>
                <% end %>
            <div class="card-body">
                <h5 class="card-title"> <%= house.address %> </h5>
                <p class="card-text">Beds: <%= house.bedrooms %> |  Baths: <%= house.bathrooms %> <br>Price: $<%= number_with_delimiter(house.price, :delimiter => ',') %></p>
                <%= link_to "See Listing", house_path(house), class: "btn btn-outline-secondary" %>
            </div>
            </div>  
        </div>
        <% end %>
    </div>
</div>
</html>
</body>


