<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("House_logo.png", class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("House2.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h5>SEE REVIEWS FROM OTHERS WHO TOURED HOUSES YOU ARE INTERESTED IN!</h5>
        <p>Users who tour houses are able to leave reviews on the house so it can help you figure out if the house is right for you! </p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("House3.png", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>
<div class="container">
    <% @houses.each do |house|%>

    <% if house.picture.blank?%>
        <%= link_to image_tag("no_image_found_house.png"), house_path(house)%><br>
    <% else%>
        <%= link_to image_tag(house.picture, size: "375x250"), house_path(house) %><br>
    <% end %>
        <%= house.address%><br>
        Beds: <%= house.bedrooms %> |  Baths: <%= house.bathrooms %><br>
        Price: $<%= number_with_delimiter(house.price, :delimiter => ',') %><br>
    <% end%>
</div>
