<div class="container">
    <h1><%= @house.address %></h1>
    <% if @current_user.id == @house.seller.id%>
        <%= link_to "Edit Listing", edit_house_path, class: "btn btn-primary" %><br>
    <% else %>
    <% end %>
    <br>
    <% if @house.picture.blank?%>
        <%= image_tag("no_image_found_house.png", size: "575x400") %> <%= image_tag @house.google_map(center: @house.address), size: "500x400" %>
    <% else%>
        <p><%= image_tag @house.picture, size: "575x400"%> <%= image_tag @house.google_map(center: @house.address), size: "530x400" %></p>
    <% end %>

<hr class="featurette-divider">

   <br>
    <div class="row">
      <div class="col-sm-6">
        <h3>Agent:</h3>
        <%= @house.agent.full_name %><br>
        <br>
        <h3>Price:</h3>
        $<%= number_with_delimiter(@house.price, :delimiter => ',') %><br> 
      </div>
      <div class="col-sm-6">
           <h3>Bedrooms:</h3>
            <%= @house.bedrooms %><br>
            <br>
            <h3>Bathrooms:</h3>
            <%= @house.bathrooms %><br> 
      </div>
    </div>
    <hr class="featurette-divider">
        <br>
        <h3>Description:</h3>
        <%= @house.description %><br>   




<hr class="featurette-divider">
    <div class="row">
      <div class="col-sm-6">
            <%= render 'tours/new' %><br>
        </div>   
   
        <br>
        <div class="col-sm-6">
            <%= render 'tours/show' %><br>
        </div>
    </div>
<hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6">
            <%= render 'offers/new' %><br>
        </div>
    <br>
        <div class="col-sm-6">
            <%= render 'offers/show' %><br>
        </div>
    </div>  
<hr class="featurette-divider">

    <div class="row">
        <div class="col-sm-6">
            <%= render 'house_reviews/new' %>
        </div>
    <br>
        <div class="col-sm-6">
            <%= render 'house_reviews/show' %><br>
        </div>
    </div>  
<hr class="featurette-divider">
    <h3> <%= link_to 'Back', houses_path, class: "btn btn-primary btn-lg" %></h3>

</div>
