<div class="container">
<h1>Hello, <%= @user.name %></h1>

<%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary btn-sm" %><br>
<br>
<% if @user.img_url.blank?%>
    <%= image_tag "profile_pic.png" %>
<% else%>
    <img src=<%= @user.img_url%> alt="profile picture" width="250" height="250"><br>
<% end %><br>

<h2>Username: <%= @user.user_name %></h2>
<% if @user.houses.any? %>
        <h3>Your House Listings:</h3>
        <% @user.houses.each do |house| %>
            <%= link_to house.address, house_path(house) %> || <%= link_to "Edit Listing", edit_house_path(house) %>|| <%= link_to "Delete Listing", house_path(house), method: :delete, data: { confirm: "Are you sure?" } %><br>
            <br>
        <% end %>
    <% end %>
<br>
</div>
