<% if @current_user.id == @house.seller.id%>
        
<% else %>
        <h4>Book a Tour:</h4>
                 <%= form_for ([@house, @tour]) do |f| %>
                <%= f.label :date %>
                <%= f.date_field :date%>

                <%= f.label :time %>
                <%= f.time_field :time%>

                <%= f.label :agent_id %>
                <%= f.collection_select :agent_id, Agent.all, :id, :full_name %>

                <%= f.submit %>
        <% end %>
<% end %>