


<div class="container">
  <div class="row">
    <div class="col-md-6 img">
        <img src=<%= @agent.picture%> alt="" class="img-rounded"><br>
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5><%= @agent.full_name %>!</h5>
      </blockquote>
      <p>
        Years Experience:<%= @agent.years_experience %> <br>
        About:<%= @agent.bio %> <br>
      </p>
     <br>    
        <h5>Agent's Listings:</h5>
        <% @agent.houses.each do |house| %>
            <%= link_to house.address, house_path(house) %> <br>
        <% end %>
        <h3>Scheduled Tours:</h3>
            <% @agent.tours.each do |tour| %>
                <%= link_to tour.house.address, house_path(tour.house) %><br>
                <%= tour.date %> <%= tour.time %><br>
            <% end %>
        <br>
    </div>
  </div>
</div>
