


<div class="container">
  <div class="row">
    <div class="col-md-6 img">
        <%= image_tag(@agent.picture, class: "img-rounded", size: "475x350") %>
       
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5><%= @agent.full_name %>!</h5>
      </blockquote>
      <p>
        Years Experience:<%= @agent.years_experience %> <br>
        About:<%= @agent.bio %> <br>
      </p>
     <br>    
        <h5><%= "#{@agent.first_name}'s" %> Listings:</h5>
        <% @agent.houses.each do |house| %>
            <%= link_to house.address, house_path(house) %> <br>
        <% end %>
        <br>
        <h5>Scheduled Tours:</h5>
            <% @agent.tours.each do |tour| %>
                <%= link_to tour.house.address, house_path(tour.house) %><br>
                Date: <%= tour.date.strftime("%A, %b %d") %>  |  Time: <%= tour.time.strftime("%I:%M %p")%><br>
            <% end %>
        <br>
    </div>
  </div>
</div>
