<% if @current_user.id == @house.seller.id%>

<% else%>
        <h4>Submit an Offer:</h4>
        <%= form_for ([@house, @offer]) do |f| %>
                <%= f.label "Offer Amount:" %><br>
                <%= f.number_field :amount%><br>
                <br>
                <%= f.label :agent_id %><br>
                <%= f.collection_select :agent_id, Agent.all, :id, :full_name, prompt: true %><br>
                <br>
                <%= f.submit "Submit Offer!", class: "btn btn-primary btn-sm" %>
        <% end %>
<% end %>
<br>

<% if flash[:offer_errors] %>
    <% flash[:offer_errors].each do |error| %>
        <div class="container">
        <div class="alert alert-danger" role="alert"><%= error %></div>
        </div>
        <% end %>
<% end %>